<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guide a Trip</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="welcome-text">Welcome to Guide a Trip</h1>
        <div class="button">
            <button onclick="navigateToSignIn()">Get Started</button>
        </div>
    </div>
    <script>
        function navigateToSignIn() {
            window.location.href = "/index"; 
            
        }
    </script>
</body>
</html>
